.container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

form {
    margin-bottom: 20px;
}

mat-card-title {
    text-align: center;
    margin: 10px;
}

mat-spinner {
    margin: 0 auto;
    display: block;
}

mat-form-field {
    display: block;
    margin-bottom: 15px;
}

.center-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    margin-right: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #f1f1f1;
}


.action-icon {
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s;
}

.action-icon:hover {
    color: #1976d2;
    /* Change this color to your desired hover color */
}

.no-users-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #757575;
}
